<h1>Sign Up</h1>

<form class="well" {{action 'login' on="submit"}}>
	<h2>Register</h2>

	{{ register-fields pl="Username" pass=false }}

	{{ register-fields pl="Password" pass=true }}

	{{#if isRegister}}
		{{ register-fields pl="Confirm Password" pass=true }}
		{{ register-fields pl="Email" pass=false }}
	{{/if}}
	


	{{input value=csrf type="hidden" name="authenticity_token"}}

	{{input class="btn" type="submit" value=submitButtonVal }}
</form>

<!--
<button {{action 'hello' 'person'}}>
  		Say Hello to person
</button>
-->



