<h1>Sign Up</h1>

<form class="well" {{action auth on="submit"}}>
	<h2>Register</h2>

	{{ register-form-field val=username pl="Username" kind='uname' }}

	{{ register-form-field val=password pl="Password" kind='pass' pass=true }}

	{{#if isRegister}}
		{{ register-form-field val=confirm_password pl="Confirm Password" kind='pass' pass=true }}
		{{ register-form-field val=email pl="Email" kind='email' }}
	{{/if}}
	


	{{input value=csrf type="hidden" name="authenticity_token"}}

	{{input class="btn" type="submit" value=submitButtonVal }}
</form>



<!--
<button {{action 'hello' 'person'}}>
  		Say Hello to person
</button>
-->



